<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.AdmissionsMapper">
	<resultMap id="BaseResultMap" type="com.tech.ssm.domain.Admissions">
		<id column="admissions_id" jdbcType="VARCHAR" property="admissions_id" />
		<result column="admissions_name" jdbcType="VARCHAR" property="admissions_name" />
		<result column="admissions_school" jdbcType="VARCHAR" property="admissions_school" />
		<result column="admissions_place" jdbcType="VARCHAR" property="admissions_place" />
		<result column="admissions_way" jdbcType="VARCHAR"
			property="admissions_way" />
		<result column="admissions_professional" jdbcType="VARCHAR" 
			property="admissions_professional" />
	</resultMap>
	<sql id="Base_Column_List">
		admissions_id, admissions_name, admissions_school, admissions_place, admissions_way,
		admissions_professional
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admissions
		where admissions_id = #{admissions_id,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from admissions
		where admissions_id = #{admissions_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Admissions">
		insert into admissions (admissions_id, admissions_name, admissions_school,
		admissions_place, admissions_way,admissions_professional)
		values (#{admissions_id,jdbcType=VARCHAR}, #{admissions_name,jdbcType=VARCHAR},
		#{admissions_school,jdbcType=VARCHAR},#{admissions_place,jdbcType=VARCHAR},
		#{admissions_way,jdbcType=VARCHAR},#{admissions_professional,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Admissions">
		insert into admissions
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="admissions_id != null">
				admissions_id,
			</if>
			<if test="admissions_name != null">
				admissions_name,
			</if>
			<if test="admissions_school != null">
				admissions_school,
			</if>
			<if test="admissions_place != null">
				admissions_place,
			</if>
			<if test="admissions_way != null">
				admissions_way,
			</if>
			<if test="admissions_professional != null">
				admissions_professional,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="admissions_id != null">
				#{admissions_id,jdbcType=VARCHAR},
			</if>
			<if test="admissions_name != null">
				#{admissions_name,jdbcType=VARCHAR},
			</if>
			<if test="admissions_school != null">
				#{admissions_school,jdbcType=VARCHAR},
			</if>
			<if test="admissions_place != null">
				#{admissions_place,jdbcType=VARCHAR},
			</if>
			<if test="admissions_way != null">
				#{admissions_way,jdbcType=VARCHAR},
			</if>
			<if test="admissions_professional != null">
				#{admissions_professional,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Admissions">
		update admissions
		<set>
			<if test="admissions_name != null">
				admissions_name = #{admissions_name,jdbcType=VARCHAR},
			</if>
			<if test="admissions_school != null">
				admissions_school = #{admissions_school,jdbcType=VARCHAR},
			</if>
			<if test="admissions_place != null">
				admissions_place = #{admissions_place,jdbcType=VARCHAR},
			</if>
			<if test="admissions_way != null">
				admissions_way = #{admissions_way,jdbcType=VARCHAR},
			</if>
			<if test="admissions_professional != null">
				admissions_professional = #{admissions_professional,jdbcType=VARCHAR},
			</if>
		</set>
		where admissions_id = #{admissions_id,jdbcType=VARCHAR}
	</update>
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Admissions">
		update admissions
		set admissions_name = #{admissions_name,jdbcType=VARCHAR},
		admissions_school = #{admissions_school,jdbcType=VARCHAR},
		admissions_place = #{admissions_place,jdbcType=VARCHAR},
		admissions_way = #{admissions_way,jdbcType=VARCHAR},
		admissions_professional = #{admissions_professional,jdbcType=VARCHAR}
		where admissions_id = #{admissions_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admissions
		<where>
			<if test="admissions_id!=null and admissions_id!=''">
				and admissions_id like concat("%",#{admissions_id},"%")
			</if>
			<if test="admissions_name!=null and admissions_name!=''">
				and admissions_name like concat("%",#{admissions_name},"%")
			</if>
			<if test="admissions_school!=null and admissions_school!=''">
				and admissions_school like concat("%",#{admissions_school},"%")
			</if>
			<if test="admissions_place!=null and admissions_place!=''">
				and admissions_place like concat("%",#{admissions_place},"%")
			</if>
			<if test="admissions_way!=null and admissions_way!=''">
				and admissions_way like concat("%",#{admissions_way},"%")
			</if>
			<if test="admissions_professional!=null and admissions_professional!=''">
				and admissions_professional like concat("%",#{admissions_professional},"%")
			</if>
		</where>
	</select>
	
</mapper>