<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.BoomMapper">
	<resultMap id="PlanMap" type="com.tech.ssm.domain.Boom">
		<id column="boom_id" jdbcType="VARCHAR" property="boom_id" />
		<result column="organize" jdbcType="VARCHAR" property="organize" />
		<result column="quesetion" jdbcType="VARCHAR" property="quesetion" />
		<result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
		<result column="boom_owner" jdbcType="VARCHAR" property="boom_owner" />
		<result column="deadline" jdbcType="TIMESTAMP"  property="deadline" />
		<result column="state" jdbcType="VARCHAR"  property="state" />
	</resultMap>
	<sql id="Base_Column_List">
		boom_id, organize, quesetion, starttime, boom_owner,
		deadline,state
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="PlanMap">
		select
		<include refid="Base_Column_List" />
		from boom
		where boom_id = #{boom_id,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from boom
		where boom_id = #{boom_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Boom">
		insert into boom (boom_id, organize, quesetion,
		starttime, boom_owner,deadline,state)
		values (#{boom_id,jdbcType=VARCHAR}, #{organize,jdbcType=VARCHAR},
		#{quesetion,jdbcType=VARCHAR},#{starttime,jdbcType=TIMESTAMP},
		#{boom_owner,jdbcType=VARCHAR},#{deadline,jdbcType=TIMESTAMP},
		#{state,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Boom">
		insert into boom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="boom_id != null">
				boom_id,
			</if>
			<if test="organize != null">
				organize,
			</if>
			<if test="quesetion != null">
				quesetion,
			</if>
			<if test="starttime != null">
				starttime,
			</if>
			<if test="boom_owner != null">
				boom_owner,
			</if>
			<if test="deadline != null">
				deadline,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="boom_id != null">
				#{boom_id,jdbcType=VARCHAR},
			</if>
			<if test="organize != null">
				#{organize,jdbcType=VARCHAR},
			</if>
			<if test="quesetion != null">
				#{quesetion,jdbcType=VARCHAR},
			</if>
			<if test="starttime != null">
				#{starttime,jdbcType=TIMESTAMP},
			</if>
			<if test="boom_owner != null">
				#{boom_owner,jdbcType=VARCHAR},
			</if>
			<if test="deadline != null">
				#{deadline,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Boom">
		update boom
		<set>
			<if test="organize != null">
				organize = #{organize,jdbcType=VARCHAR},
			</if>
			<if test="quesetion != null">
				quesetion = #{quesetion,jdbcType=VARCHAR},
			</if>
			<if test="starttime != null">
				starttime = #{starttime,jdbcType=TIMESTAMP},
			</if>
			<if test="boom_owner != null">
				boom_owner = #{boom_owner,jdbcType=VARCHAR},
			</if>
			<if test="deadline != null">
				deadline = #{deadline,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
		</set>
		where boom_id = #{boom_id,jdbcType=VARCHAR}
	</update>
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Boom">
		update boom
		set organize = #{organize,jdbcType=VARCHAR},
		quesetion = #{quesetion,jdbcType=VARCHAR},
		starttime = #{starttime,jdbcType=TIMESTAMP},
		boom_owner = #{boom_owner,jdbcType=VARCHAR},
		deadline = #{deadline,jdbcType=TIMESTAMP},
		state = #{state,jdbcType=VARCHAR}
		where boom_id = #{boom_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="PlanMap">
		select
		<include refid="Base_Column_List" />
		from boom
		<where>
			<if test="boom_id!=null and boom_id!=''">
				and boom_id like concat("%",#{boom_id},"%")
			</if>
			<if test="organize!=null and organize!=''">
				and organize like concat("%",#{organize},"%")
			</if>
			<if test="quesetion!=null and quesetion!=''">
				and quesetion like concat("%",#{quesetion},"%")
			</if>
			<if test="starttime!=null and starttime!=''">
				and starttime like concat("%",#{starttime},"%")
			</if>
			<if test="boom_owner!=null and boom_owner!=''">
				and boom_owner like concat("%",#{boom_owner},"%")
			</if>
			<if test="deadline!=null and deadline!=''">
				and deadline like concat("%",#{deadline},"%")
			</if>
			<if test="state!=null and state!=''">
				and state like concat("%",#{state},"%")
			</if>
		</where>
	</select>
	
</mapper>