<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.CourseDetailedMapper">
	<resultMap id="BaseResultMap" type="com.tech.ssm.domain.CourseDetailed">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="course_id" jdbcType="VARCHAR" property="course_id" />
		<result column="course_teacher" jdbcType="VARCHAR" property="course_teacher" />
		<result column="course_week" jdbcType="INTEGER" property="course_week" />
		<result column="course_day" jdbcType="INTEGER" property="course_day" />
		<result column="course_lesson" jdbcType="INTEGER" property="course_lesson" />
		<result column="course_place" jdbcType="VARCHAR" property="course_place" />
	</resultMap>
	<sql id="Base_Column_List">
		id, course_id, course_teacher, course_week, course_day, course_lesson, course_place
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from course_detailed
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from course_detailed
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.CourseDetailed">
		insert into course_detailed (id, course_id, course_teacher, 
		course_week, course_day, course_lesson, course_place)
		values (#{id,jdbcType=VARCHAR}, #{course_id,jdbcType=VARCHAR},
		#{course_teacher,jdbcType=VARCHAR},#{course_week,jdbcType=INTEGER},
		#{course_day,jdbcType=INTEGER},#{course_lesson,jdbcType=INTEGER},
		#{course_place,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.CourseDetailed">
		insert into course_detailed
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="course_id != null">
				course_id,
			</if>
			<if test="course_teacher != null">
				course_teacher,
			</if>
			<if test="course_week != null">
				course_week,
			</if>
			<if test="course_day != null">
				course_day,
			</if>
			<if test="course_lesson != null">
				course_lesson,
			</if>
			<if test="course_place != null">
				course_place,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="course_id != null">
				#{course_id,jdbcType=VARCHAR},
			</if>
			<if test="course_teacher != null">
				#{course_teacher,jdbcType=VARCHAR},
			</if>
			<if test="course_week != null">
				#{course_week,jdbcType=INTEGER},
			</if>
			<if test="course_day != null">
				#{course_day,jdbcType=INTEGER},
			</if>
			<if test="course_lesson != null">
				#{course_lesson,jdbcType=INTEGER},
			</if>
			<if test="course_place != null">
				#{course_place,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.CourseDetailed">
		update course_detailed
		<set>
			<if test="course_id != null">
				course_id = #{course_id,jdbcType=VARCHAR},
			</if>
			<if test="course_teacher != null">
				course_teacher = #{course_teacher,jdbcType=VARCHAR},
			</if>
			<if test="course_week != null">
				course_week = #{course_week,jdbcType=INTEGER},
			</if>
			<if test="course_day != null">
				course_day = #{course_day,jdbcType=INTEGER},
			</if>
			<if test="course_lesson != null">
				course_lesson = #{course_lesson,jdbcType=INTEGER},
			</if>
			<if test="course_place != null">
				course_place = #{course_place,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.CourseDetailed">
		update course_detailed
		set course_pre_id=#{course_pre_id,jdbcType=VARCHAR},
		course_teacher=#{course_teacher,jdbcType=VARCHAR},
		course_name = #{course_name,jdbcType=VARCHAR},
		course_type = #{course_type,jdbcType=VARCHAR},
		course_credits = #{course_credits,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from course_detailed
		<where>
			<if test="id!=null and id!=''">
				and id like concat("%",#{id},"%")
			</if>
			<if test="course_id!=null and course_id!=''">
				and course_id like concat("%",#{course_id},"%")
			</if>
			<if test="course_teacher!=null and course_teacher!=''">
				and course_teacher like concat("%",#{course_teacher},"%")
			</if>
			<if test="course_week!=null and course_week!=''">
				and course_week like concat("%",#{course_week},"%")
			</if>
			<if test="course_day!=null and course_day!=''">
				and course_day like concat("%",#{course_day},"%")
			</if>
			<if test="course_lesson!=null and course_lesson!=''">
				and course_lesson like concat("%",#{course_lesson},"%")
			</if>
			<if test="course_place!=null and course_place!=''">
				and course_place like concat("%",#{course_place},"%")
			</if>
		</where>
	</select>
	
</mapper>