<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.PermissionsMapper">
	<resultMap id="ResourcesMap" type="com.tech.ssm.domain.Permissions">
		<id column="permissions_id" jdbcType="VARCHAR" property="permissions_id" />
		<result column="permissions_identity" jdbcType="VARCHAR" property="permissions_identity" />
		<result column="permissions_ability" jdbcType="VARCHAR" property="permissions_ability" />
	</resultMap>
	<sql id="Base_Column_List">
		permissions_id, permissions_identity, permissions_ability
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ResourcesMap">
		select
		<include refid="Base_Column_List" />
		from permissions
		where permissions_id = #{permissions_id,jdbcType=VARCHAR} 
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from permissions
		where permissions_id = #{permissions_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Permissions">
		insert into permissions (permissions_id, permissions_identity, permissions_ability)
		values (#{permissions_id,jdbcType=VARCHAR}, #{permissions_identity,jdbcType=VARCHAR},
		#{permissions_ability,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Permissions">
		insert into permissions
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="permissions_id != null">
				permissions_id,
			</if>
			<if test="permissions_identity != null">
				permissions_identity,
			</if>
			<if test="permissions_ability != null">
				permissions_ability,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="permissions_id != null">
				#{permissions_id,jdbcType=VARCHAR},
			</if>
			<if test="permissions_identity != null">
				#{permissions_identity,jdbcType=VARCHAR},
			</if>
			<if test="permissions_ability != null">
				#{permissions_ability,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Permissions">
		update permissions
		<set>
			<if test="permissions_identity != null">
				permissions_identity = #{permissions_identity,jdbcType=VARCHAR},
			</if>
			<if test="permissions_ability != null">
				permissions_ability = #{permissions_ability,jdbcType=VARCHAR},
			</if>
			
			
		</set>
		where permissions_id = #{permissions_id,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Permissions">
		update permissions
		set permissions_identity = #{permissions_identity,jdbcType=VARCHAR},
		permissions_ability = #{permissions_ability,jdbcType=VARCHAR}
		where permissions_id = #{permissions_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="ResourcesMap">
		select
		<include refid="Base_Column_List" />
		from permissions
		<where>
			<if test="permissions_id !=null and permissions_id!=''">
				and permissions_id like concat("%",#{permissions_id},"%")
			</if>
			<if test="permissions_identity !=null and permissions_identity !=''">
				and permissions_identity like concat("%",#{permissions_identity},"%")
			</if>
			<if test="permissions_ability !=null and permissions_ability !=''">
				and permissions_ability like concat("%",#{permissions_ability},"%")
			</if>
		</where>
	</select>
	
</mapper>