<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.PersonalMapper">
	<resultMap id="BaseResultMap" type="com.tech.ssm.domain.Personal">
		<id column="personal_student" jdbcType="VARCHAR" property="personal_student" />
		<id column="personal_course_id" jdbcType="VARCHAR" property="personal_course_id" />
		<result column="personal_course" jdbcType="VARCHAR" property="personal_course" />
		<result column="personal_teacher" jdbcType="VARCHAR" property="personal_teacher" />
	</resultMap>
	<sql id="Base_Column_List">
		personal_student, personal_course_id, personal_course, personal_teacher
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from personal
		where personal_student = #{personal_student,jdbcType=VARCHAR} 
		AND personal_course_id = #{personal_course_id,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from personal
		where personal_student = #{personal_student,jdbcType=VARCHAR}
		AND personal_course_id = #{personal_course_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Personal">
		insert into personal (personal_student, personal_course_id, personal_course,
		personal_teacher)
		values (#{personal_student,jdbcType=VARCHAR}, #{personal_course_id,jdbcType=VARCHAR},
		#{personal_course,jdbcType=VARCHAR},#{personal_teacher,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Personal">
		insert into personal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="personal_student != null">
				personal_student,
			</if>
			<if test="personal_course_id != null">
				personal_course_id,
			</if>
			<if test="personal_course != null">
				personal_course,
			</if>
			<if test="personal_teacher != null">
				personal_teacher,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="personal_student != null">
				#{personal_student,jdbcType=VARCHAR},
			</if>
			<if test="personal_course_id != null">
				#{personal_course_id,jdbcType=VARCHAR},
			</if>
			<if test="personal_course != null">
				#{personal_course,jdbcType=VARCHAR},
			</if>
			<if test="personal_teacher != null">
				#{personal_teacher,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Personal">
		update personal
		<set>
			<if test="personal_course != null">
				personal_course = #{personal_course,jdbcType=VARCHAR},
			</if>
			<if test="personal_teacher != null">
				personal_teacher = #{personal_teacher,jdbcType=VARCHAR},
			</if>
			
		</set>
		where personal_student = #{personal_student,jdbcType=VARCHAR}
		AND personal_course_id = #{personal_course_id,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Personal">
		update personal
		set personal_course = #{personal_course,jdbcType=VARCHAR},
		personal_teacher = #{personal_teacher,jdbcType=VARCHAR}
		where personal_student = #{personal_student,jdbcType=VARCHAR}
		AND personal_course_id = #{personal_course_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from personal
		<where>
			<if test="personal_student!=null and personal_student!=''">
				and personal_student like concat("%",#{personal_student},"%")
			</if>
			<if test="personal_course_id!=null and personal_course_id!=''">
				and personal_course_id like concat("%",#{personal_course_id},"%")
			</if>
			<if test="personal_course!=null and personal_course!=''">
				and personal_course like concat("%",#{personal_course},"%")
			</if>
			<if test="personal_teacher!=null and personal_teacher!=''">
				and personal_teacher like concat("%",#{personal_teacher},"%")
			</if>
		</where>
	</select>
	
</mapper>