<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.PlanMapper">
	<resultMap id="PlanMap" type="com.tech.ssm.domain.Plan">
		<id column="plan_id" jdbcType="VARCHAR" property="plan_id" />
		<result column="plan_person" jdbcType="VARCHAR" property="plan_person" />
		<result column="plan_type" jdbcType="VARCHAR" property="plan_type" />
		<result column="plan_start" jdbcType="TIMESTAMP" property="plan_start" />
		<result column="plan_name" jdbcType="VARCHAR" property="plan_name" />
		<result column="plan_end" jdbcType="TIMESTAMP"  property="plan_end" />
		<result column="plan_resource" jdbcType="VARCHAR"  property="plan_resource" />
	</resultMap>
	<sql id="Base_Column_List">
		plan_id, plan_person, plan_type, plan_start, plan_name,
		plan_end,plan_resource
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="PlanMap">
		select
		<include refid="Base_Column_List" />
		from plan
		where plan_id = #{plan_id,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from plan
		where plan_id = #{plan_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Plan">
		insert into plan (plan_id, plan_person, plan_type,
		plan_start, plan_name,plan_end,plan_resource)
		values (#{plan_id,jdbcType=VARCHAR}, #{plan_person,jdbcType=VARCHAR},
		#{plan_type,jdbcType=VARCHAR},#{plan_start,jdbcType=TIMESTAMP},
		#{plan_name,jdbcType=VARCHAR},#{plan_end,jdbcType=TIMESTAMP},
		#{plan_resource,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Plan">
		insert into plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="plan_id != null">
				plan_id,
			</if>
			<if test="plan_person != null">
				plan_person,
			</if>
			<if test="plan_type != null">
				plan_type,
			</if>
			<if test="plan_start != null">
				plan_start,
			</if>
			<if test="plan_name != null">
				plan_name,
			</if>
			<if test="plan_end != null">
				plan_end,
			</if>
			<if test="plan_resource != null">
				plan_resource,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="plan_id != null">
				#{plan_id,jdbcType=VARCHAR},
			</if>
			<if test="plan_person != null">
				#{plan_person,jdbcType=VARCHAR},
			</if>
			<if test="plan_type != null">
				#{plan_type,jdbcType=VARCHAR},
			</if>
			<if test="plan_start != null">
				#{plan_start,jdbcType=TIMESTAMP},
			</if>
			<if test="plan_name != null">
				#{plan_name,jdbcType=VARCHAR},
			</if>
			<if test="plan_end != null">
				#{plan_end,jdbcType=TIMESTAMP},
			</if>
			<if test="plan_resource != null">
				#{plan_resource,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Plan">
		update plan
		<set>
			<if test="plan_person != null">
				plan_person = #{plan_person,jdbcType=VARCHAR},
			</if>
			<if test="plan_type != null">
				plan_type = #{plan_type,jdbcType=VARCHAR},
			</if>
			<if test="plan_start != null">
				plan_start = #{plan_start,jdbcType=TIMESTAMP},
			</if>
			<if test="plan_name != null">
				plan_name = #{plan_name,jdbcType=VARCHAR},
			</if>
			<if test="plan_end != null">
				plan_end = #{plan_end,jdbcType=TIMESTAMP},
			</if>
			<if test="plan_resource != null">
				plan_resource = #{plan_resource,jdbcType=VARCHAR},
			</if>
		</set>
		where plan_id = #{plan_id,jdbcType=VARCHAR}
	</update>
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Plan">
		update plan
		set plan_person = #{plan_person,jdbcType=VARCHAR},
		plan_type = #{plan_type,jdbcType=VARCHAR},
		plan_start = #{plan_start,jdbcType=TIMESTAMP},
		plan_name = #{plan_name,jdbcType=VARCHAR},
		plan_end = #{plan_end,jdbcType=TIMESTAMP},
		plan_resource = #{plan_resource,jdbcType=VARCHAR}
		where plan_id = #{plan_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="PlanMap">
		select
		<include refid="Base_Column_List" />
		from plan
		<where>
			<if test="plan_id!=null and plan_id!=''">
				and plan_id like concat("%",#{plan_id},"%")
			</if>
			<if test="plan_person!=null and plan_person!=''">
				and plan_person like concat("%",#{plan_person},"%")
			</if>
			<if test="plan_type!=null and plan_type!=''">
				and plan_type like concat("%",#{plan_type},"%")
			</if>
			<if test="plan_start!=null and plan_start!=''">
				and plan_start like concat("%",#{plan_start},"%")
			</if>
			<if test="plan_name!=null and plan_name!=''">
				and plan_name like concat("%",#{plan_name},"%")
			</if>
			<if test="plan_end!=null and plan_end!=''">
				and plan_end like concat("%",#{plan_end},"%")
			</if>
			<if test="plan_resource!=null and plan_resource!=''">
				and plan_resource like concat("%",#{plan_resource},"%")
			</if>
		</where>
	</select>
	
</mapper>