<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.ResultsMapper">
	<resultMap id="BaseResultMap" type="com.tech.ssm.domain.Results">
		<id column="results_student" jdbcType="VARCHAR" property="results_student" />
		<id column="results_course" jdbcType="VARCHAR" property="results_course" />
		<result column="results_credits" jdbcType="INTEGER" property="results_credits" />
		<result column="result_score" jdbcType="Float" property="result_score" />
	</resultMap>
	<sql id="Base_Column_List">
		results_student, results_course, results_credits, result_score
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from results
		where results_student = #{results_student,jdbcType=VARCHAR} 
		AND results_course = #{results_course,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from results
		where results_student = #{results_student,jdbcType=VARCHAR}
		AND results_course = #{results_course,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Results">
		insert into results (results_student, results_course, results_credits,
		result_score)
		values (#{results_student,jdbcType=VARCHAR}, #{results_course,jdbcType=VARCHAR},
		#{results_credits,jdbcType=INTEGER},#{result_score,jdbcType=Float})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Results">
		insert into results
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="results_student != null">
				results_student,
			</if>
			<if test="results_course != null">
				results_course,
			</if>
			<if test="results_credits != null">
				results_credits,
			</if>
			<if test="result_score != null">
				result_score,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="results_student != null">
				#{results_student,jdbcType=VARCHAR},
			</if>
			<if test="results_course != null">
				#{results_course,jdbcType=VARCHAR},
			</if>
			<if test="results_credits != null">
				#{results_credits,jdbcType=INTEGER},
			</if>
			<if test="result_score != null">
				#{result_score,jdbcType=Float},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Results">
		update results
		<set>
			<if test="results_credits != null">
				results_credits = #{results_credits,jdbcType=INTEGER},
			</if>
			<if test="result_score != null">
				result_score = #{result_score,jdbcType=Float},
			</if>
			
		</set>
		where results_student = #{results_student,jdbcType=VARCHAR}
		AND results_course = #{results_course,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Results">
		update results
		set results_credits = #{results_credits,jdbcType=INTEGER},
		result_score = #{result_score,jdbcType=Float}
		where results_student = #{results_student,jdbcType=VARCHAR}
		AND results_course = #{results_course,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from results
		<where>
			<if test="results_student!=null and results_student!=''">
				and results_student like concat("%",#{results_student},"%")
			</if>
			<if test="results_course!=null and results_course!=''">
				and results_course like concat("%",#{results_course},"%")
			</if>
			<if test="results_credits!=null and results_credits!=''">
				and results_credits like concat("%",#{results_credits},"%")
			</if>
			<if test="result_score!=null and result_score!=''">
				and result_score like concat("%",#{result_score},"%")
			</if>
		</where>
	</select>
	
</mapper>