<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.SquadMapper">
	<resultMap id="SquadMap" type="com.tech.ssm.domain.Squad">
		<id column="squad_id" jdbcType="VARCHAR" property="squad_id" />
		<result column="squad_teachar" jdbcType="VARCHAR"
			property="squad_teachar" />
		<result column="squad_name" jdbcType="VARCHAR"
			property="squad_name" />
		<result column="squad_count" jdbcType="INTEGER"
			property="squad_count" />
	</resultMap>
	<sql id="Base_Column_List">
		squad_id,squad_teachar,squad_name,squad_count
	</sql>

	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="SquadMap">
		select
		<include refid="Base_Column_List" />
		from squad
		where squad_id = #{squad_id,jdbcType=VARCHAR}
	</select>

	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from squad
		where squad_id = #{squad_id,jdbcType=VARCHAR}
	</delete>

	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.Squad">
		insert into squad (squad_id,
		squad_teachar,squad_name,squad_count)
		values (#{squad_id,jdbcType=VARCHAR},
		#{squad_teachar,jdbcType=VARCHAR},#{squad_name,jdbcType=VARCHAR},#{squad_count,jdbcType=INTEGER})
	</insert>


	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.Squad">
		insert into squad
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="squad_id != null">
				squad_id,
			</if>
			<if test="squad_teachar != null">
				squad_teachar,
			</if>
			<if test="squad_name != null">
				squad_name,
			</if>
			<if test="squad_count != null">
				squad_count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="squad_id != null">
				#{squad_id,jdbcType=VARCHAR},
			</if>
			<if test="squad_teachar != null">
				#{squad_teachar,jdbcType=VARCHAR},
			</if>
			<if test="squad_name != null">
				#{squad_name,jdbcType=VARCHAR},
			</if>
			<if test="squad_count != null">
				#{squad_count,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.Squad">
		update squad
		<set>
			<if test="squad_teachar != null">
				squad_teachar = #{squad_teachar,jdbcType=VARCHAR},
			</if>
			<if test="squad_name != null">
				squad_name = #{squad_name,jdbcType=VARCHAR},
			</if>
			<if test="squad_count != null">
				squad_count = #{squad_count,jdbcType=INTEGER},
			</if>
		</set>
		where squad_id = #{squad_id,jdbcType=VARCHAR}
	</update>
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.Squad">
		update squad
		set squad_teachar =
		#{squad_teachar,jdbcType=VARCHAR}, squad_name =
		#{squad_name,jdbcType=VARCHAR},
		squad_count = #{squad_count,jdbcType=INTEGER}
		where squad_id =
		#{squad_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="SquadMap">
		select
		<include refid="Base_Column_List" />
		from squad
		<where>
			<if test="squad_id!=null and squad_id!=''">
				and squad_id like concat("%",#{squad_id},"%")
			</if>
			<if test="squad_teachar!=null and squad_teachar!=''">
				and squad_teachar like concat("%",#{squad_id},"%")
			</if>
			<if test="squad_name!=null and squad_name!=''">
				and squad_name like concat("%",#{squad_name},"%")
			</if>
			<if test="squad_count!=null and squad_count!=''">
				and squad_count like concat("%",#{squad_count},"%")
			</if>
		</where>
	</select>

</mapper>