<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.ssm.mapper.WorkflowRecordMapper">
	<resultMap id="WorkflowRecordMap" type="com.tech.ssm.domain.WorkflowRecord">
		<id column="record_id" jdbcType="VARCHAR" property="record_id" />
		<result column="record_state" jdbcType="VARCHAR" property="record_state" />
		<result column="boom_id" jdbcType="VARCHAR" property="boom_id" />
		<result column="auditor" jdbcType="VARCHAR" property="auditor" />
	</resultMap>
	<sql id="Base_Column_List">
		record_id, record_state, boom_id, auditor
	</sql>
	
	<!-- 根据id查 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="WorkflowRecordMap">
		select
		<include refid="Base_Column_List" />
		from workflow_record
		where record_id = #{record_id,jdbcType=VARCHAR} 
	</select>
	
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from workflow_record
		where record_id = #{record_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.tech.ssm.domain.WorkflowRecord">
		insert into workflow_record (record_id, record_state, boom_id,
		auditor)
		values (#{record_id,jdbcType=VARCHAR}, #{record_state,jdbcType=VARCHAR},
		#{boom_id,jdbcType=VARCHAR},#{auditor,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective"
		parameterType="com.tech.ssm.domain.WorkflowRecord">
		insert into workflow_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="record_id != null">
				record_id,
			</if>
			<if test="record_state != null">
				record_state,
			</if>
			<if test="boom_id != null">
				boom_id,
			</if>
			<if test="auditor != null">
				auditor,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="record_id != null">
				#{record_id,jdbcType=VARCHAR},
			</if>
			<if test="record_state != null">
				#{record_state,jdbcType=VARCHAR},
			</if>
			<if test="boom_id != null">
				#{boom_id,jdbcType=VARCHAR},
			</if>
			<if test="auditor != null">
				#{auditor,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tech.ssm.domain.WorkflowRecord">
		update workflow_record
		<set>
			<if test="record_state != null">
				record_state = #{record_state,jdbcType=VARCHAR},
			</if>
			<if test="boom_id != null">
				boom_id = #{boom_id,jdbcType=VARCHAR},
			</if>
			<if test="auditor != null">
				auditor = #{auditor,jdbcType=VARCHAR},
			</if>
			
		</set>
		where record_id = #{record_id,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 更新 -->
	<update id="updateByPrimaryKey"
		parameterType="com.tech.ssm.domain.WorkflowRecord">
		update workflow_record
		set record_state = #{record_state,jdbcType=VARCHAR},
		boom_id = #{boom_id,jdbcType=VARCHAR},
		auditor = #{auditor,jdbcType=VARCHAR}
		where record_id = #{record_id,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="queryAll" resultMap="WorkflowRecordMap">
		select
		<include refid="Base_Column_List" />
		from workflow_record
		<where>
			<if test="record_id !=null and record_id!=''">
				and record_id like concat("%",#{record_id},"%")
			</if>
			<if test="record_state !=null and record_state !=''">
				and record_state like concat("%",#{record_state},"%")
			</if>
			<if test="boom_id !=null and boom_id !=''">
				and boom_id like concat("%",#{boom_id},"%")
			</if>
			<if test="auditor !=null and auditor !=''">
				and auditor like concat("%",#{auditor},"%")
			</if>
		</where>
	</select>
	
</mapper>